<!doctype html>
<html>
  <head>
    <title>Welcome to Book Baazar</title>
    {% include 'html/head_template.html' %}
  </head>
  <body>
    {% include 'html/nav_template.html' %}
    <div class = "masthead segment">
      <h1>TCNJ Book Bazaar</h1>
    </div>
    <br>
    <div class="one column grid" style="text-align: center;">
      <div class="ui icon input large" style="width:80%; display: inline-block;">
        <input placeholder="Search for a book..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
  </body>
</html>
