<!doctype html>
<html>
  <head>
    <title>Log In To BookBazaar</title>
    {% include 'html/head_template.html' %}
  </head>
  <body>
    <div class="masthead segment">
      	<h1>Log In To BookBazaar</h1>
    </div>
    <br><br>
    <form id="loginForm" method="post" action="/login">
      <div class="ui segment form error" style="width:300px; margin:0 auto;">
        <div class="ui error message">
          <div class="header">
            {{ status }}
          </div>
        </div>
      	{% csrf_token %}
        <div class="field">
          <label>Username</label>
          <div class="ui left labeled icon input">
            <input type="text" name="username">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left labeled icon input">
            <input type="password" name="password">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="ui blue submit button" onclick="document.forms['loginForm'].submit()">Login</div> 
            <div class="ui green register button" onclick="location.href='/create_user'">Register</div> 
        </div>
      </div>
    </form>
  </body>
</html>
